
<header id="headerSection">
  <div class="header-page ">
    <div class="info">
      <h3 class="hello">Hola, mi nombre es Said Morales Lemus</h3>
      <h1>SOY UN ARQUITECTO DE SOFTWARE</h1>
      <h3 class="who-creates" > en busqueda de nuevos retos </h3>
      
      <div class="brands">
        <a href="http://github.com/saidmlx/"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/saidmlx/"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/saidmlx"><i class="fab fa-twitter-square"></i></a>
        <a href="https://codepen.io/saidmlx/pens/public/"><i class="fab fa-codepen"></i></a>
      </div>

    </div>
    <div id="mouseIcon" class="mouse-icon">
      <div id="mouseIconDragBall" class="wheel"></div>
    </div>
  </div>

    {%- include navbar.html -%}
    
</header>
<script>
  window.onload = function() {
    window.onscroll = function() {myFunction()};
    var headerSection= document.getElementById("headerSection").offsetHeight;
    myFunction();
    function myFunction() {
      var transparency=((window.pageYOffset+50)/headerSection)
      if(transparency > 1){
        transparency = 1
      }
      document.getElementById("navbar").style.backgroundColor="rgb(255, 255, 255, "+transparency+")";
      document.getElementById("mouseIcon").style.borderColor="rgb(0, 0 , 0, "+(0.8-transparency)+")";
      document.getElementById("mouseIconDragBall").style.backgroundColor="rgb(0, 0 , 0, "+(0.8-transparency)+")";
        
    }
  }
</script>
