<div class="interest">
    <h2>QUE ESTOY HACIENDO</h2>
    <div class="module-line"></div>
    
    <div class="">
        <h3>Desarrollo Web</h3>
        <p>
            El desarrollo web ha ido en incremento y las tecnologías a la par, lo que me apasiona del desarrollo web es que podemos tener aplicaciones tan diversas y al hacer un proyecto podemos elegir tantas herramientas como las necesitamos. 
            Actualmente el uso del HTML CSS y Javascript ha pasado a otro nivel, ahora tenemos renderizado aislado de componentes, preprocesadores de estilos y diferentes Frameworks de Javascript que nos ayudan hacer nuestra tarea de administrar proyectos web mucho mas eficiente.
        </p>
    </div>
    <div class="">
        <h3>Java Backend</h3>
        <p>
            Java es uno de los lenguajes más populares en el mundo del desarrollo de software, porque me gusta porque tiene características fuertes para hacer casi cualquier cosa; una amplia adopción de la programación orientada objetos, patrones de diseño fuertemente establecidos; y conceptos pomo APIs, programación funcional, inyección de dependencias no es ajeno al entorno porque va de la mano con los conceptos actuales. 
            Además de grandes proyectos como los módulos de Java Spring, Diferentes ORM como Hibernete MyIbatis entre otros, que hace fácil la integración entre diferentes herramientas.    
        </p>
    </div>
    <div class="">
        <h3>Javascript</h3>
        <p>
            El entorno de Javascript dio un giro de 360 grados cuando empezamos a tener Frameworks impensables cuando nació la www; estos Frameworks nos ayudan optimizar tareas; BackBone fue la primer librería que conocí y la forma en que Model, Collections y View trabajaban; después me toco conocer Angular y sus directivas realmente fueron útiles en uno de los sistemas mas completos que me toco proponer y dirigir; React fue el tercero que conocí y me encanta la forma en que controla el DOM de forma eficiente.
        </p>        
    </div>
</div>


    

