

<div class="portafolio-section">
<h2>PORTAFOLIO</h2>
<div class="module-line"></div>  

<div class="container-portafolio">
  
    <div class="item">
    <div class="portafolio">
      <figure>
        <img src="http://saidmlx.online/assets/images/valora-x.jpg" alt="">
      </figure>
      <div class="overlay">
        <div class="info" >
          <h3>Valora</h3>
          <p>Herramienta que ayuda a estimar el precio de una vivienda en una zona especifica.</p>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
        <img src=""http://saidmlx.online/assets/images/Portafolio-magnolia.jpg" alt="">
      </figure>
      <div class="overlay">
        <div class="info" >
          <h3>Intranets</h3>
          <p>Analisis, gesti[on y desarrollo de componentes para Magnolia CMS, que sirve como medio de comunicaci[on interna.</p>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
        <img src="http://saidmlx.online/assets/images/coronita-x.jpg" alt="">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>Simulador Hipotecario</h3>
          <p>Simulador y precalificador hipotecario para BBVA Bancomer</p>
        </div>
      </div>          
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
        <img src="https://uploads.branded.me/56f98109ebad64000c6727c0/57a9496da5ca29000c9c4bb4.jpg" alt="">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>Dashboard PLD</h3>
          <p>Dashboard interactivo para dar seguimiento estadistico a operaciones de riesgo a lavado de dinero para Mèxico y latinoamerica</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
        <img src="https://uploads.remote.com/56f98109ebad64000c6727c0/58d1600ba038d2000f926e9d.PNG" alt="">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>PLD administracion y monitoreo</h3>
          <p>Sistema de para dar seguimiento a personas con perfil de lavado de dinero Mexico y Latinoamerica</p>
        </div>
      </div>          
    </div>
  </div>
</div>
</div>
