

<div class="portafolio-section">
<h2>PORTAFOLIO</h2>

<p>{{site.url}}</p>

<div class="module-line"></div>  

<div class="container-portafolio">
  
    <div class="item">
    <div class="portafolio">
      <figure>
        <img src="{{site.url}}/assets/images/projects/AFIRME-intranet.png" alt="">
      </figure>
      <div class="overlay">
        <div class="info" >
          <h3>Intranets</h3>
          <p>Analisis, gestión y desarrollo de componentes para Magnolia CMS, que sirve como medio de comunicación interna.</p>
        </div>
        <p></p>
      </div>
    </div>
  </div>
                         
    <div class="item">
    <div class="portafolio">
      <figure>
          <img src="{{site.url}}/assets/images/projects/BBVA-valora.png" alt="Calora BBVA">
      </figure>
      <div class="overlay">
        <div class="info" >
          <h3>Valora</h3>
          <p>Herramienta que ayuda a estimar el precio de una vivienda en una zona especifica.</p>
        </div>
        <p></p>
      </div>
    </div>
  </div>
  

  
  <div class="item">
    <div class="portafolio">
      <figure>
          <img src="{{site.url}}/assets/images/projects/BBVA-hipotecario.png" alt="Hipotecario BBVA">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>Simulador Hipotecario</h3>
          <p>Simulador y precalificador hipotecario para BBVA Bancomer</p>
        </div>
      </div>          
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
          <img src="{{site.url}}/assets/images/projects/BAZ-dashboard.png" alt="Dashboard PLD BAZ">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>Dashboard PLD</h3>
          <p>Dashboard interactivo para dar seguimiento estadistico a operaciones de riesgo a lavado de dinero para Mèxico y latinoamerica</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="portafolio">
      <figure>
          <img src="{{site.url}}/assets/images/projects/BAZ-PLD.png" alt="PLD BAZ">
      </figure>
      <div class="overlay">
        <div class="info">
          <h3>PLD administracion y monitoreo</h3>
          <p>Sistema de para dar seguimiento a personas con perfil de lavado de dinero Mexico y Latinoamerica</p>
        </div>
      </div>          
    </div>
  </div>
</div>
</div>
