<div class="portfolio">
  <h2>QUE HE HECHO</h2>
  <div class="module-line"></div>
  
  <div class="container-portfolio">
    <div class="item work-item illustration webdesign">
      <a href="">
        <div class="work-image">
          <img src="/assets/images/portfolio-valora-2.png" alt="">
        </div>
        <div class="work-caption">
          <h3 class="work-title font-alt">Valora bancomer</h3>
          <div class="work-descr font-inc">
              Buscador de viviendas
          </div>
        </div>
      </a>
    </div>
    <div class="item">hipoteca privada</div>
    <div class="item">hipoteca publica</div>
    <div class="item">dasboard banco azteca</div>
    <div class="item">PLD</div>

  </div>
</div>