<div class="readings">
<h1>Que estoy leyendo</h1>
    <div class="module-line"></div>
<div class="readings-content">
    <div class="item">
        <figure>
            <img src="{{ site.url }}/assets/images/books/BookAzureForArchitects.png" alt="">
        </figure>
    </div>
    <div class="item">
    <h2>Azure for architects</h2>
        <p>...</p>
    </div>

    <div class="item">
        <figure>
            <img src="{{ site.url }}/assets/images/books/BookCreativityinc.png" alt="">
        </figure>
    </div>
    <div class="item">
        <h2>Creativity INC</h2>
        <p>...</p>
    </div>

    <div class="item">
        <figure> <img src="{{ site.url }}/assets/images/books/BookDevelopingOpenCloudNativeMicroservices.png" alt=""> </figure>
    </div>
    <div class="item">
        <h2>Developing Open Cloud Native Microservices</h2>
        <p>...</p>
    </div>

    <div class="item">
        <figure> <img src="{{ site.url }}/assets/images/books/BookEloquentJavaScript.png" alt=""> </figure>
    </div>
    <div class="item">
        <h2>Eloquent Javascript</h2>

        <p>Cualquiera que quiera aprender Javascript de verdad, deberia de ser una lectura obligada</p>
    </div>

</div>
</div>