

<div class="container-resume">

    {%- include header.html -%}

  <div class="header">
    <div class="item title">
      <h1>Said Morales Lemus</h1>
      <h2 class="subtitle">Aquitecto de software</h2>
    </div>
    <div class="item contact">
      <ul >
        <!--li >
            <a href="tel:+5215532737204" target="_blank"><span>(556) 728 6803</span><i class="fa fa-phone"></i></a> 
        </li>
        <li >
            <a href="tel:+5215532737204" target="_blank"><span>+52 1 (553) 273 7204</span><i class="fas fa-mobile-alt"></i></a> 
        </li-->
        <li >
            <a href="mailto:saidmlx@gmail.com?Subject=Hola..." target="_top"><span>saidmlx@gmail.com</span><i class="fa fa-envelope "></i></a>
        </li>
        <li >
            <a href="https://linkedin.com/in/saidmlx/" target="_blank"><span>www.linkedin.com/in/saidmlx</span><i class="fab fa-linkedin"></i></a>
        </li>
        <li >
            <a href="https://github.com/saidmlx" target="_blank"><span>https://twitter.com/saidmlx</span><i class="fab fa-twitter"></i></a>
        </li>
        <li >
            <a href="https://codepen.io/saidmlx/pens/public/" target="_blank"><span>https://codepen.io/saidmlx/</span><i class="fab fa-codepen"></i></a>
        </li>
        <li >
            <a href="https://saidmlx.github.io" target="_blank"><span>http://saidmorales.com/</span><i class="fa fa-globe "></i></a>
        </li>
        </ul>
    </div>
  </div><!-- end header-->

  <div class="ifo-description">
    <div class="item">
      <h2 class="title ">Currículum Vitae</h2>
      <div class="info">
        <p>Líder de Proyecto, Programador y Analista de Requerimientos para productos de software con màs de 10 años trabajando en la industria, con amplia experiencia y capacidad para gestionar equipos ágiles, reducir incertidumbre y aumentar productividad aplicando técnicas, herramientas y buenas prácticas para que el esfuerzo aplicado resulte en proyectos entregados en tiempo y calidad.</p>
        <p>Soy una persona que le gusta estar en constante aprendizaje y compartiendo este conocimiento con el equipo de trabajo, me apasiona el desarrollo de software y siempre estoy en búsqueda de la mejora continua en los proyectos en los que me encuentro.</p>
        <!--p>A lo largo de mi trayectoria me he desarrollado en diferentes roles y tecnologías como:</p>
        <p>Desarrollador Java: con diferentes versiones JDK( 6, 7 y 8) y diferentes marcos de trabajo como Spring (MVC, Web Flow, Security), Struts (V1, V2), Servicios Web Top Down y Bottom( Up JAX-RS, CFX ); microservicios REST; gestión de versionado con SVN/GIT. </p>
        <p>Administración de servidores y DevOps: despliegue de aplicaciones en diferentes entornos como Jboss, Tomcat, GlassFish e integración DevOps con Jenkins y SonarQube; certificación de aplicaciones con herramientas de análisis como Fortify.</p>
        <p>Desarrollo con javascript: desarrollo de aplicaciones monolíticas con javascript/jquery y  Single Page con Backbone, Angular y Polymer utilizando herramientas NodeJS bundlers Gulp, Webpack, Bower y NPM.</p>
        <p>Arquitectura Frontend: diseño responsivo front HTML5, CSS3 con preprocesadores SASS, con Flex Box y CSS Grid Template; frameworks front Bootstrap, MaterializeCSS.</p>
        <p>Base de datos: análisis diseño e implementación de bases de datos MySql y SQL Server y procesos BATCh y ETL con SQL Server.</p-->
            
      </div>
    </div>
    <div class="item">
      <h2 class="title dark">Ingeniero de software</h2>
      <div class="info">
        <div class="description-icon"><i class="fas fa-user-graduate"></i></div>
        <h3 class="description-title graduation">Educación</h3>
        <ul class="description">
          <li>Maestría en Dirección de Proyectos</li>
          <li>UNITEC Campus Ecatepec</li>
          <li>2013-2015</li>
        </ul>
        <ul class="description">
          <li>Ingeniería en Sistemas Computacionales</li>
          <li>Universidad Politécnica de Tulancingo</li>
          <li>2004-2006</li>
        </ul>
        <ul class="description">
          <li>Técnico Superior Universitario en Informática</li>
          <li>Universidad Tecnológica de la Sierra Hidalguense</li>
          <li>2002-2004</li>
        </ul>
      </div>
    </div>
  </div><!-- end ifo-description-->

  <div class="work">
      
      <div class="item for">
      <div class="description-icon"><i class="fas fa-briefcase"></i></div>
      <h3 class="description-title briefcase">Experiencia profesional</h3>
      <ul class="description">
        <li>Towa (Afirme Grupo Financiero)</li>
        <li>Nuevo Leon </li>
        <li>Septiembre 2018 a la fecha</li>
      </ul>
      <p class="brew active">Gestionar la implementación de la intranet, una implementación de Magnolia CMS dinámica, autoadministrable que funcione como herramienta de comunicación interna</p>
      <p class="large"><strong>Consultor:</strong> Gestión de la implementación de la infraestructura, desarrollo de componentes Magnolia CMS y publicación inicial de contenidos </p>
      <p class="large"><strong>Líder técnico:</strong> Apertura de nuevos proyectos, levantamiento de requerimientos, análisis de requerimientos y coordinar el equipo de desarrollo. </p>
      <p class="large"><strong>Desarrollador:</strong> Desarrollo de componentes customizados para el entorno Magnolia CMS para las intranets de Tecnología y Recursos Humanos. </p>
      <span class="brew active" onclick="experienceExpand('for')">Más...</span>
      <span class="large" onclick="experienceExpand('for')">Menos...</span>
    </div>
      
    <div class="item one">
      
      
      <ul class="description">
        <li>Towa (BBVA BANCOMER)</li>
        <li>Ciudad de México </li>
        <li>Marzo 2017 - Junio 2018</li>
      </ul>
      <p class="brew active">Coordinar el equipo de desarrollo y llevar a cabo la gestión del desarrollo de los productos Hipoteca Digital y Valora en todas sus fases mediante metodologia SCRUM Agile(SAFe)</p>
      <p class="large"><strong>Consultor Jr:</strong> coordinar el equipo para desarrollar el producto “Hipoteca Digital” (simulador y precalificador) para la zona privada de personas físicas. </p>
      <p class="large">Aplicando tecnologías y herramientas como Java Spring(web flow), llamada a servicios REST, desarrollo del front html, javascript y CSS con preprocesadores de estilos utilizando herramientas de NodeJS (gulp, browserify, sass). Integración continua utilizando jenkins</p>
      <p class="large">El entorno de trabajo es bajo SCRUM. </p>
      <span class="brew active" onclick="experienceExpand('one')">Más...</span>
      <span class="large" onclick="experienceExpand('one')">Menos...</span>
    </div>
    <div class="item two">
      <ul class="description ">
        <li>Banco Azteca</li>
        <li>Ciudad de México</li>
        <li>Noviembre 2010 - Marzo 2017</li>
      </ul>
      <p class="brew active">Diseñar la arquitectura de aplicación para migrar sistemas actuales, coordinar el de desarrollo de nuevos aplicativos a través de todas sus fases hasta llevarlos a producción.</p>
      <p class="large"><strong>Lider de proyecto:</strong> desarrollo de nueva plataforma para migrar aplicaciones de Struts (V1, V2) a AngularJS+Java Spring; coordinar el equipo de trabajo; proponer soluciones a los requerimientos que el área requiere para poder entregar los mismos en tiempo, calidad y recursos; capacitación en nuevas herramientas de desarrollo NodeJS( Browserify, Gulp) AngularJS, micro servicios(REST) e integración con Java Spring framework.</p>
      <p class="large"><strong>Desarrollador web:</strong> mantenimiento de aplicaciones de Struts(V1, V2), programación de aplicaciones utilizando lenguajes como Java y JavaScript y frameworks de desarrollo como Spring(MVC, Security, Web Flow) y AngularJS; frameworks front-end como Bootstrap y MaterializeCSS; y otras herramientas de desarrollo para generación de Bundlers con Browserify y Gulp y jQuery; Desarrollo de Servicios Web Top Down y Bottom Up(JAX-RS, CFX )  para proveer de información a otras áreas; consumir servicios de otras áreas; desarrollo de APIs de acceso a datos vía REST Services con Java Spring, certificación de aplicaciones a través de HP Fortify.</p>
      <p class="large"><strong>Administrador de base de datos:</strong> diseño de la arquitectura de base de datos, diseño de procesos de recolección de información de las diferentes áreas donde se genera, resguardo y análisis de los datos a través de Procedimientos Almacenados, y procesos ETL.</p>
      <p class="large"><strong>Analista de requerimientos:</strong> analizar peticiones de los usuarios de México y Latinoamérica donde Banco Azteca tiene presencia; calcular alcances, definir entregables y estimar recursos, así como también proponer soluciones a los requerimientos que las comisiones bancarias requerían.</p>
      <span class="brew active" onclick="experienceExpand('two')">Más...</span>
      <span class="large" onclick="experienceExpand('two')">Menos...</span>
    </div>
    <div class="item three">
      <ul class="description ">
        <li>NETZEN</li>
        <li>Ciudad de México</li>
        <li>Mayo 2008 - Octubre 2010</li>
      </ul>
      <p class="brew active">Implementar aplicaciones MLM(Multilevel Marketing) en todas sus fases desde la conceptualización del algoritmo del modelo comercial (algoritmo de compensación) hasta su puesta en producción.</p>
      <p class="large"><strong>Analista de Requerimientos:</strong> llevar a los clientes durante todo el proceso de implementación  desde el análisis de necesidades proponer soluciones y estimar recursos y alcances y puesta a producción.</p>
      <p class="large"><strong>Desarrollador web:</strong> desarrollo de aplicaciones web en todas sus fases análisis, desarrollo, mantenimiento e implementación de aplicaciones web con tecnología Java Sevlets (JDK 1.6) y Php(V5) y herramientas como Jquery y Dojo Toolkit; desplegando aplicaciones en Apache Tomcat </p>
      <p class="large"><strong>Algoritmos:</strong> diseñar y programar algoritmos de cálculo de comisiones de ventas de acuerdo al modelo comercial que cada empresa para su red de afiliados.</p>
      <span class="brew active" onclick="experienceExpand('three')">Más...</span>
      <span class="large" onclick="experienceExpand('three')">Menos...</span>
    </div>
    <div class="item">
      <ul class="description ">
        <li>Universidad Tecnológica de la Sierra Hidalguense</li>
        <li>Zacualtipan de Angeles, Hidalgo</li>
        <li>Enero 2006 - Abril 2008</li>
      </ul>
      <p><strong>Analista programador:</strong> análisis de requerimientos y programación de  soluciones de software para el apoyo a la administración  de la universidad, esto con impacto en Servicios Escolares, Recursos Humanos, Infraestructura. Así como dar mantenimiento a las aplicaciones existentes desarrolladas por terceros.</p>
    </div>
  </div><!-- end work-->

  <div class="skills">
      <div class="item">
      <div class="description-icon"><i class="fas fa-wrench"></i></div>
      <h3 class="description-title wrench">Herramientas y conocimientos</h3>
      <div class="skills-categories">
        <div class="item">
            
            <div class="skill">
              <div  id="skillJavaTitle"  class="title less" onclick="toolsExpand('skillJava')">Desarrollo con Java
              <a href="https://platzi.com/@saidmlx/carrera/55-desarrollo-java/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a>  
              </div>
              <ul id="skillJava" class="list-with-marker  expand">
                <li>JDK(1.6, 1.7, 1.8)</li>
                <li>Spring Framework (MVC, Security,Web Flow)</li>
                <li>JSF/Prime Faces</li>
                <li>REST Services </li>
                <li>Web Services - Top Down y Bottom Up(JAX-RS, CXF )</li>
                <li>Struts (V1, V2)</li>
                <li>JSP/JSTL</li>
                <li>GIT,SVN</li>
                <li>Eclipse/netbeans/STS (spring boot) </li>
              </ul>
            </div>
            <div class="skill">
              <div  id="skillJavascriptTitle"  class="title plus" onclick="toolsExpand('skillJavascript')">Desarrollo con javascript
                <a href="https://platzi.com/@saidmlx/carrera/43-javascript/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a>  
              </div>
              <ul id="skillJavascript" class="list-with-marker ">
                <li>Javascript(ES6, ES7)</li>
                <li>Angular (V1, V2, V4, V6)</li>
                <li>Polymer (V1, V2)</li>
                <li>Vue.js</li>
                <li>Jquery</li>
                <li>Module Bundlers(Gulp, Webpack, NPM, Bower)</li>
                <li>GraphQL</li>
              </ul>
            </div>
            <div class="skill one">
              <div  id="skillFrontEndTitle"  class="title plus" onclick="toolsExpand('skillFrontEnd')">Arquitectura Frontend
                <a href="https://platzi.com/@saidmlx/carrera/42-arquitecto/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a>
              </div>
              <ul id="skillFrontEnd" class="list-with-marker">
                  <li>CSS3 (sass)</li>
                  <li>Git (Github, Bitbucket)</li>
                  <li>Bootstrap</li>
                  <li>MaterialiceCSS</li>
                  <li>Flexbox/CSS Grid Layout</li>
                  <li>Responsive design</li>
                  <li>Module Bundlers(Gulp, Webpack, NPM, Bower)</li>
                  <li>HTML5</li>
              </ul>
            </div>
            <div class="skill">
            <div id="skillDBTitle"  class="title plus" onclick="toolsExpand('skillDB')">Base de datos</div>
              <ul id="skillDB" class="list-with-marker">
                <li>SQL Server</li>
                <li>Mysql</li>
              </ul>
            </div>
            <div class="skill">
              <div id="skillDevopsTitle"  class="title plus" onclick="toolsExpand('skillDevops')">Administración de servidores y Devops
                <a href="https://platzi.com/@saidmlx/carrera/9-servidores/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a>  
              </div>
              <ul id="skillDevops" class="list-with-marker">
                <li>AWS (EC2, S3, RDS)</li>
                <li>Jenkins</li>
                <li>Docker</li>
                <li>SonarQube</li>
                <li>Jboss</li>
                <li>Glassfish</li>
                <li>Tomcat</li>
                <li>Linux</li>
                <li>Now.sh</li>
              </ul>
            </div>        
            <div class="skill">
              <div id="skillAdminTitle"  class="title plus" onclick="toolsExpand('skillAdmin')">Administración de proyectos
              
              </div>
              <ul id="skillAdmin" class="list-with-marker">
                <li>Gestión de proyectos con metodología propuesta por PMI</li>
                <li>Gestión de proyectos con metodología SCRUM</li>
                <li>Business Model Canvas</li>
                <li>SEO y posicionamiento en buscadores</li>
              </ul>
            </div>        
        </div>
      </div>
    </div>
    
  </div>

  <div class="courses">
    <div class="item">
      <div class="description-icon"><i class="fas fa-book"></i></div>
      <h3 class="description-title book">Cursos</h3>
      <ul class="list-with-marker expand">
          
        <li>Curso Básico de Ionic <a href="https://platzi.com/@saidmlx/curso/1281-ionic/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Curso de PWA con Angular <a href="https://platzi.com/@saidmlx/curso/1268-pwa-angular/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Curso de Angular 6 <a href="https://platzi.com/@saidmlx/curso/1340-angular-avanzado/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
          
        <li>Curso de Storage en AWS - PLATZI <a href="https://platzi.com/@saidmlx/curso/1424-storage-aws/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Curso de Bases de Datos en AWS - PLATZI <a href="https://platzi.com/@saidmlx/curso/1426-db-aws/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Networking y Content Delivery en AWS - PLATZI <a href="https://platzi.com/@saidmlx/curso/1419-networking-content/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Fundamentos de AWS Cloud - PLATZI <a href="https://platzi.com/@saidmlx/curso/1323-aws-cloud/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Curso de Deploy con Now.sh - PLATZI <a href="https://platzi.com/@saidmlx/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Curso de Administración de Servidores Linux - PLATZI <a href="https://platzi.com/@saidmlx/curso/1123-linux/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
        <li>Introducción a Terminal y Línea de Comandos - PLATZI <a href="https://platzi.com/@saidmlx/curso/1276-terminal/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>  
          
          
          
        <li>Curso de Sistemas de Diseño para Desarrolladores - PLATZI <a href="https://platzi.com/@saidmlx/curso/1422-diseno-desarrolladores/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de WPO: Optimización de Carga de Sitios Web - PLATZI <a href="https://platzi.com/@saidmlx/curso/1390-optimizacion-web/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>
          
        <li>Curso Avanzado de Node.js - PLATZI <a href="https://platzi.com/@saidmlx/curso/nodejs/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de jQuery a JavaScript - PLATZI <a href="https://platzi.com/@saidmlx/curso/jquery-js/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Sass(Preprocesadores de estilos) - PLATZI <a href="https://platzi.com/@saidmlx/curso/sass/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso básico de Vue.js - PLATZI <a href="https://platzi.com/@saidmlx/curso/vuejs/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Angular 4 - PLATZI<a href="https://platzi.com/@saidmlx/curso/angular/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        
          <li>Curso de Bootstrap- PLATZI<a href="https://platzi.com/@saidmlx/curso/1331-bootstrap/diploma/detalle/" target="_blank" ><i class="fas fa-award"></i></a></li>
          
        <li>Curso de desarrollo web online- PLATZI<a href="https://platzi.com/@saidmlx/curso/html5-css3/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de GraphQL- PLATZI <a href="https://platzi.com/@saidmlx/curso/graphql/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Webpack- PLATZI <a href="https://platzi.com/@saidmlx/curso/webpack/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso profesional de Git y GitHub - PLATZI <a href="https://platzi.com/@saidmlx/curso/git-github/diploma/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Scrum Fundamentals (Scaled Agile Framework) - Campus BBVA</li>
        <li>Master Jenkins CI For Developers and DevOps  -UDEMY <a href="https://www.udemy.com/certificate/UC-OEVWB9NG/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Curso de Angular 2 - PLATZI</li>
        <li>Curso profesional de React con Redux - PLATZI</li>
        <li>Curso SEO, posicionamiento en buscadores - PLATZI</li>
        <li>Curso profesional de javascript -PLATZI</li>
        <li>JBoss EAP Configuration, Deployment, and Administration - UDEMY <a href="https://www.udemy.com/certificate/UC-2CEI8LEJ/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Spring Framework 4 (Java Enterprise JEE) with AngularJS  - UDEMY <a href="https://www.udemy.com/certificate/UC-6OY9JU55/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>Spring Security  - UDEMY <a href="https://www.udemy.com/certificate/UC-XOVR2DMW/" target="_blank" ><i class="fas fa-award"></i></a></li>
        <li>JAVA Web Services -UDEMY</li>
      </ul>
    </div>
  </div>

</div>

<script>
  var experienceExpand= function(selectorByClassName){
    console.info(selectorByClassName)
    console.info("."+selectorByClassName+" .brew")
    document.querySelectorAll(".work ."+selectorByClassName+" .brew").forEach(function(item){console.info(item.classList.toggle('active'))})
    document.querySelectorAll(".work ."+selectorByClassName+" .large").forEach(function(item){console.info(item.classList.toggle('active'))})

  }
  var toolsExpand= function(selectorId){
    document.getElementById(selectorId).classList.toggle('expand')
    document.getElementById(selectorId+"Title").classList.toggle('plus')
    document.getElementById(selectorId+"Title").classList.toggle('less')

  }
</script>
