

<div class="container-resume">
  <div class="header">
    <div class="item title">
      <h1>Said Morales Lemus</h1>
      <h2>Ingeniero de software</h2>
    </div>
    <div class="item contact">
      <ul >
        <li >
            <a href="tel:+5215532737204" target="_blank">(556) 728 6803<i class="fa fa-phone-square fa-2x"></i></a> 
        </li>
        <li >
            <a href="tel:+5215532737204" target="_blank">+52 1 (553) 273 7204  <i class="fas fa-mobile-alt fa-2x"></i></a> 
        </li>
        <li >
            <a href="mailto:saidmlx@gmail.com?Subject=Hola..." target="_top">saidmlx@gmail.com<i class="fa fa-envelope-square fa-2x"></i></a>
        </li>
        <li >
            <a href="https://linkedin.com/in/saidmlx/" target="_blank">www.linkedin.com/in/saidmlx<i class="fab fa-linkedin fa-2x"></i></a>
        </li>
        <li >
            <a href="https://github.com/saidmlx" target="_blank">https://twitter.com/saidmlx<i class="fab fa-twitter-square fa-2x"></i></a>
        </li>
        <li >
            <a href="https://codepen.io/saidmlx/pens/public/" target="_blank">https://codepen.io/saidmlx/<i class="fab fa-codepen fa-2x"></i></a>
        </li>
        <li >
            <a href="https://saidmlx.github.io" target="_blank">saidmlx.online<i class="fa fa-globe fa-2x"></i></a>
        </li>
        </ul>
    </div>
  </div><!-- end header-->

  <div class="ifo-description">
    <div class="item">
      <h2 class="title ">Currículum Vitae</h2>
      <div class="info">
        <p>Soy una persona que le gusta estar en constante aprendizaje y compartiendo este con el equipo de trabajo, me apasiona el desarrollo de software y siempre estoy al pendiente de lo que esta pasando en esta industria; razón por la cual estoy en búsqueda de un puesto donde no solo aplique los conocimientos adquiridos, si no un lugar que este abierto a nuevas ideas, donde pueda aprender y estar en contacto con las nuevas tecnologías y herramientas que están apareciendo e interactuar con personas con el mismo interés.</p>
        <p>En relación a mi experiencia como Líder de Proyectos, Programador  y Analista de requerimientos para productos de software, deseo dirigir mis esfuerzos en la planeación y dirección de proyectos de software a travez de todo su ciclo; aplicando técnicas y herramientas actuales que ayudan a consolidar equipos de alto impacto.</p>
      </div>
    </div>
    <div class="item">
      <h2 class="title dark">Ingeniero de software</h2>
      <div class="info">
        <h3 class="rigth graduation">Educación</h3>
        <ul class="description right">
          <li>Maestria en Dirección de Proyectos</li>
          <li>UNITEC Campus Ecatepec</li>
          <li>2013-2015</li>
        </ul>
        <ul class="description right">
          <li>Ingeniería en Sistemas Computacionales</li>
          <li>Universidad Politécnica de Tulancingo</li>
          <li>2004-2006</li>
        </ul>
        <ul class="description right">
          <li>Tecnico Superior Universitario en Informatica</li>
          <li>Universidad Tecnológica de la Sierra Hidalguense</li>
          <li>2002-2004</li>
        </ul>
      </div>
    </div>
  </div><!-- end ifo-description-->

  <div class="work">
    <div class="item">
      <h3 class="left briefcase">Experiencia profesional</h3>
      <ul class="description">
        <li>Towa (asignación BANCOMER)</li>
        <li>Mexico DF </li>
        <li>Marzo 2017 a la fecha</li>
      </ul>
      <p>Líder de Proyecto: coordinar el equipo para desarrollar el producto “Hipoteca Digital” (simulador y precalificador) para la zona privada de personas físicas. </p>
      <p>Aplicando tecnologías y herramientas como Java Spring(web flow), llamada a servicios REST, desarrollo del front html, javascript y CSS con preprocesadores de estilos utilizando herramientas de NodeJS (gulp, browserify, sass). Integracion continua utilizando jenkins</p>
      <p>El entorno de trabajo es bajo SCRUM.</p>
    </div>
    <div class="item">
      <ul class="description ">
        <li>Banco Azteca</li>
        <li>Ciudad de México</li>
        <li>Noviembre 2010 - Marzo 2017</li>
      </ul>
      <p>Líder de proyecto: desarrollo de nueva plataforma para migrar aplicaciones de Struts (V1, V2) a AngularJS+Java Spring; coordinar el equipo de trabajo; proponer soluciones a los requerimientos que el área requiere para poder entregar los mismos en tiempo, calidad y recursos; capacitación en nuevas herramientas de desarrollo NodeJS( Browserify, Gulp) AngularJS, micro servicios(REST) e integración con Java Spring framework.</p>
      <p>Desarrollador web: mantenimiento de aplicaciones de Struts(V1, V2), programación de aplicaciones utilizando lenguajes como Java y JavaScript y frameworks de desarrollo como Spring(MVC, Security, Web Flow) y AngularJS; frameworks front-end como Bootstrap y MaterializeCSS; y otras herramientas de desarrollo para generación de Bundlers con Browserify y Gulp y jQuery; Desarrollo de Servicios Web Top Down y Bottom Up(JAX-RS, CFX )  para proveer de información a otras áreas; consumir servicios de otras áreas; desarrollo de APIs de acceso a datos vía REST Services con Java Spring, certificación de aplicaciones a travez de HP Fortify</p>
      <p>Administrador de base de datos: diseño de la arquitectura de base de datos, diseño de procesos de colección de información de las diferentes áreas donde se genera, resguardo y análisis de los datos a travez de Procedimientos Almacenados, y procesos ETL.</p>
      <p>Analista de requerimientos: analizar peticiones de los usuarios de Banco México y Latinoamérica donde Banco Azteca tiene presencia; calculara alcances, definir entregables y estimar recursos, así como también proponer soluciones a los requerimientos que las comisiones bancarias requerían.</p>
    </div>
    <div class="item">
      <ul class="description ">
        <li>NETZEN</li>
        <li>Ciudad de México</li>
        <li>Mayo 2008 - Octubre 2010</li>
      </ul>
      <p>Analista de Requerimientos: procesar la peticiones de los diferentes clientes y proponer soluciones, así como estimar tiempos y recursos.</p>
      <p>Desarrollador web: desarrollo de aplicaciones web para la gestión de redes de mercadeo basadas en multinivel; diseñar y programar algoritmos de calculo de comisiones de ventas de acuerdo a las reglas que cada una de las empresas tenia para sus redes de afiliados.</p>
    </div>
    <div class="item">
      <ul class="description ">
        <li>Universidad Tecnológica de la Sierra Hidalguense</li>
        <li>Zacualtipan de Angeles, Hidalgo</li>
        <li>Enero 2006 - Abril 2008</li>
      </ul>
      <p>Analista programador: análisis de requerimientos y programación de  soluciones de software para el apoyo a la administración  de la universidad, esto con impacto en Servicios Escolares, Recursos Humanos, Infraestructura. Así como dar mantenimiento a las aplicaciones existentes desarrolladas por terceros.</p>
    </div>
  </div><!-- end work-->

  <div class="skills">
    <h3 class="left wrench">Herramientas y conocimientos</h3>
    <div class="skills-categories">
      <div class="item">
          <div class="skill one">
            <span>Arquitectura Frontend</span>   
            <ul class="list-skills">
                <li>CSS3 (sass)</li>
                <li>Git (Github, Bitbucket)</li>
                <li>Bootstrap</li>
                <li>MaterialiceCSS</li>
                <li>Flexbox/CSS Grid Layout</li>
                <li>Responsive disign</li>
                <li>HTML5</li>
            </ul>

          </div>
          <div class="skill">
            <span>Desarrollo con java</span>
            <ul class="list-skills">
              <li>JDK(1.6, 1.7, 1.8)</li>
              <li>Spring Framework (MVC, Security,Web Flow)</li>
              <li>JSF/Prime Faces</li>
              <li>Web Services - Top Down y Bottom Up(JAX-RS, CFX )</li>
              <li>Struts (V1, V2)</li>
              <li>JSP/JSTL</li>
              <li>Eclipse/netbeans/STS</li>
              <li>SVN</li>
            </ul>
          </div>
          <div class="skill">
            <span>Desarrollo con javascript</span>
            <ul class="list-skills">
              <li>Javascript(ES6, ES7)</li>
              <li>Jquery</li>
              <li>Angular (V1, V2, V4)</li>
              <li>Polymer</li>
              <li>Module Bundlers(Gulp, Webpack)</li>
              <li>Vue.js</li>
              <li>GraphQL</li>
            </ul>
            </div>
          <div class="skill">
            <span>Base de datos</span>
            <ul class="list-skills">
              <li>SQL Server</li>
              <li>Mysql</li>
            </ul>
          </div>
          <div class="skill">
            <span>Administración de servidores y Devops</span>
            <ul class="list-skills">
              <li>Jenkins</li>
              <li>SonarQube</li>
              <li>Jboss</li>
              <li>Glassfish</li>
              <li>Tomcat</li>
            </ul>
          </div>        
          <div class="skill">
              <span>Administración de proyectos</span>
              <ul class="list-skills">
                <li>Gestion de proyectos con metodologia propuesta por PMI</li>
                <li>Gestion de proyectos com metodologia SCRUM</li>
                <li>Design Thinking</li>
                <li>Business Model Canvas</li>
                <li>SEO y posicionamiento en buscadores</li>
              </ul>
            </div>        
      </div>
      
    </div>

    
  </div>

  <div class="courses">
    <h3 class="left book">Cursos</h3>
    <ul>
      <li>Curso básico de Vue.js - PLATZI</li>
      <li>Curso de Angular 4 - PLATZI</li>
      <li>Curso de desarrollo web online- PLATZI</li>
      <li>Curso deCurso de GraphQL- PLATZI</li>
      <li>Curso de Webpack- PLATZI</li>
      <li>Curso profesional de Git y GitHub - PLATZI</li>
      <li>Scrum Fundamentals (Scaled Agile Framework) - Campus BBVA</li>
      <li>Master Jenkins CI For Developers and DevOps  -UDEMY</li>
      <li>Curso de Angular 2 - PLATZI</li>
      <li>Curso profesional de React con Redux - PLATZI</li>
      <li>Curso profesional de GIT y GITHUB - PLATZI</li>
      <li>Curso SEO, posicionamiento en buscadores - PLATZI</li>
      <li>Curso profesional de javascript -PLATZI</li>
      <li>JBoss EAP Configuration, Deployment, and Administration - UDEMY</li>
      <li>Spring Framework 4 (Java Enterprise JEE) with AngularJS  - UDEMY</li>
      <li>JAVA Web Services -UDEMY</li>
    </ul>
  </div>

</div>