<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="whereiam">
  <h2>DONDE ME ENCUENTRAS</h2>
  <div class="module-line"></div>
  <div class="brands">
    <a href="http://github.com/saidmlx/"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/saidmlx/"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/saidmlx"><i class="fab fa-twitter-square"></i></a>
    <a href="https://codepen.io/saidmlx/pens/public/"><i class="fab fa-codepen"></i></a>
  </div>
</div>