
.header-page {
    background-color: #f1f1f1;
    text-align: center;
    //background: url('/assets/images/main-1280x853.jpg');
    background: url('/assets/images/main-2-640x429.jpeg');
    
    height: 100vh;
    max-height: 429px;
    position: relative;
    
  
    .info{
      position: absolute;
      width: 100%;
      top: 40%;
      left: 0;
      text-align: center;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      padding: 0 15px;
  
  
      h1{
       font: 700 40px/1.2 'Roboto Condensed', sans-serif;
      }
  
      .hello,.who-creates {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
        font-style: italic;
        text-transform: none;
        margin: 15px 0;
      }
    }
    .mouse-icon {
      position: absolute;
      left: 50%;
      bottom: 60px;
      
      border-style: solid;
      //border-color: rgb(0,255,255,1);
      
      border-width: 2px;

      border-radius: 16px;
      height: 50px;
      width: 30px;
      margin-left: -15px;
      display: block;
      z-index: 10;
    }
    .mouse-icon .wheel {
      position: relative;
      border-radius: 10px;
      background: #121212;
      width: 4px;
      height: 10px;
      top: 4px;
      margin-left: auto;
      margin-right: auto;
    }
    .mouse-icon .wheel {
      -webkit-animation-name: drop;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-play-state: running;
      animation-name: drop;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-play-state: running;
    }
  
    @-webkit-keyframes drop	{
      0%   { top:5px;  opacity: 0;}
      30%  { top:10px; opacity: 1;}
      100% { top:25px; opacity: 0;}
    }
  
    @keyframes drop	{
      0%   { top:5px;  opacity: 0;}
      30%  { top:10px; opacity: 1;}
      100% { top:25px; opacity: 0;}
    }
  
  }

  @media (min-width: 768px) { 
    .header-page {
      background: url('/assets/images/main-2-1280x858.jpeg');
      max-height: 858px;
    }
  }