.interest{
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .module-line {
        background: #49e2d6;
        width: 55px;
        height: 1px;
        margin: 30px auto;
    }
    p{
        text-align: justify;
        font-size: 16px;
    }
}
.interest{
 
    .container-interest{
        display: grid;
        grid-template: 300px 300px / auto auto ;
        grid-gap: 16px;
    }
    .item{
        //width: 25%;
            position: relative;
            //height: 25em;
            perspective: 150em;
            
            padding: 16px;
        .side {
            //position: absolute;
            //top: 0;
            //left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: all .6s ease;
            //--box-shadow: 0.7em 0.7em 1em rgba(0, 0, 0, 0.2);
            background-color: #F5F5F5;
            h3{
                text-align: center;
                letter-spacing: 2px;
            }
            p{
                font-size: 12px;
                letter-spacing: 1px;
                text-align: justify;
            }
        }
        .side-front {
            line-height: 200px;
            //background-color: #49e2d6;
            text-align: center;
        }
        .side-back {
            //color: #FFF;
            transform: rotateY(180deg);
            //padding: 4px;
            background: #49e2d6;
        }
        &:hover .side-front {
            transform: rotateY(-180deg);
            display: none;
        }
        &:hover .side-back {
            transform: rotate(0);
        }
    }
}