
  #navbar {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid rgb(245, 245, 245);
    &.dark-background{
      background-color: #f5f5f5;
    }
    .topnav-right{
      float: right;
    }
    .wrapper{
      position: relative;
      text-align: center
    }
    a {
      display: block;
      color: #121212;
      padding: 16px 16px;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 3px;
      &:hover {
        color: #999;
      }
      &.active {
        background-color: $background-color-active;
        color: white;
      }
      &.author{
        font-size: 20px;
        font-family: 'Inconsolata', monospace; 
        font-stretch: 100%
      }
      &.menu-option{
        display: none;
        &.visible{
          display: block;
        }
      }
      &.icon{
        font-size: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 25px;
      }
    }
  }

  @media (min-width: 768px) { 
    #navbar {
      .wrapper{
        text-align: right;        
      }
      a{
        display: inline-block;
        padding: 16px 16px;
        &:first-child{
          float: left;
        }
        &.menu-option{
          display: inline-block;
          &.visible{
            display: inline-block;
          }
        }
        &.icon{
          display: none;
        }
      }
    }
  }