
.portafolio-section{
    border-top: 1px solid rgb(245, 245, 245);
    padding-top: 32px;
    h3{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .module-line {
        background: #49e2d6;
        width: 55px;
        height: 1px;
        margin: 30px auto;
    }
    .container-portafolio{
      display: grid;
      grid-template: 1fr 1fr 1fr 1fr/  1fr;
      gap: 32px;
      .item .portafolio{
        border: 1px solid rgb(245, 245, 245);
        position: relative;
        figure{
          width:400px;
          height: 300px;
          margin:0px;
          overflow: hidden;
          img{
            width: 400px;
          }
        }
        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $brand-color;
          overflow: hidden;
          width: 400px;
          height: 0;
          transition: .5s ease;
        }
        &:hover .overlay {
          height: 300px;
        }
        
        .info{
          text-align:center;
          padding: 16px;
          h3{
            color:#fff;
          }
          p{
            text-align: justify;
          }
        }
        
        
      }
    }
    
    
    @media (min-width: 768px) { 
    .container-portafolio{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
      }
    }
}
