




.whereiam{
    border-top: 1px solid rgb(245, 245, 245);
    padding-top: 32px;
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .module-line {
        background: #49e2d6;
        width: 55px;
        height: 1px;
        margin: 30px auto;
    }
    .brands{
        text-align: center;
        a{
            color: #49e2d6;
            font-size: 40px;
            padding: 16px
        }
    }
   
  }
  